      .YT {
        background-color: rgb(204, 0, 0);
        color: white;
        border: none;
        padding: 10px 16px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        margin-bottom: 8px;
        transition: opacity 0.15s;
        vertical-align: top;
      }
      .YT:hover {
        opacity: 0.7;
      }
      .YT:active {
        opacity: 0.4;
      }
      .JOIN {
        background-color: white;
        color: rgb(6, 95, 212);
        border-color: rgb(6, 95, 212);
        padding: 9px 16px;
        border-style: solid;
        border-width: 1px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        transition: background-color 0.15s, color 0.15s;
        vertical-align: top;
      }
      .JOIN:hover {
        background-color: rgb(6, 95, 212);
        color: white;
      }
      .JOIN:active {
        opacity: 0.7;
      }
      .Tweet {
        background-color: rgb(29, 155, 240);
        color: white;
        border: none;
        padding: 10px 16px;
        border-radius: 18px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        margin-right: 8px;
        transition: box-shadow 0.15s;
        vertical-align: top;
      }
      .Tweet:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
      }

      .Uber {
        background-color: black;
        color: white;
        border: none;
        padding: 10px 16px;
        cursor: pointer;
        transition: opacity 0.15s;
        margin-right: 8px;
        vertical-align: top;
      }
      .Uber:hover {
        opacity: 0.7;
      }
      .Amazon {
        background-color: rgb(255, 216, 20);
        color: black;
        border: none;
        padding: 10px 16px;
        border-radius: 18px;
        margin-right: 8px;
        cursor: pointer;
        transition: background-color 0.15s;
        vertical-align: top;
      }
      .Amazon:hover {
        background-color: rgb(249, 223, 21);
      }
      .GH {
        background-color: rgb(46, 164, 79);
        color: white;
        border: none;
        font-weight: bold;
        padding: 10px 16px;
        border-radius: 4px;
        margin-bottom: 8px;
        cursor: pointer;
        transition: box-shadow 0.15s;
        vertical-align: top;
      }
      .GH:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
      }
      .Boot {
        background-color: rgb(121, 82, 179);
        color: white;
        border: none;
        padding: 10px 16px;
        font-weight: bold;
        border-radius: 3px;
        margin-bottom: 8px;
        cursor: pointer;
        margin-right: 8px;
        transition: background-color 0.15s;
        vertical-align: top;
      }
      .Boot:hover {
        background-color: rgb(99, 60, 156);
      }
      .strap {
        background-color: white;
        color: rgb(108, 117, 125);
        border-color: solid rgb(108, 117, 125);
        border-width: 1px;
        padding: 9px 16px;
        font-weight: bold;
        border-radius: 3px;
        margin-bottom: 8px;
        cursor: pointer;
        border-style: solid;
        transition: background-color 0.15s, color 0.15s;
        vertical-align: top;
      }
      .strap:hover {
        background-color: rgb(108, 117, 125);
        color: white;
      }
      .Ld {
        background-color: rgb(10, 102, 194);
        color: white;
        border: none;
        padding: 10px 16px;
        font-weight: bold;
        border-radius: 18px;
        margin-bottom: 8px;
        cursor: pointer;
        margin-right: 8px;
        transition: background-color 0.15s;
        vertical-align: top;
      }
      .Ld:hover {
        background-color: rgb(2, 70, 138);
      }
      .in {
        background-color: white;
        color: rgb(10, 102, 194);
        border-color: rgb(10, 102, 194);
        border-width: 1px;
        padding: 9px 16px;
        font-weight: bold;
        border-radius: 18px;
        margin-bottom: 8px;
        cursor: pointer;
        transition: background-color 0.15s, border-width 0.15s;
        vertical-align: top;
      }
      .in:hover {
        background-color: rgb(226, 240, 254);
        border-width: 1px;
      }
      .Page {
        padding: 9px 16px;
        margin-right: 8px;
        cursor: pointer;
        margin-bottom: 8px;
      }
      #Stretch {
        background-color: green;
        border: none;
        padding: 8px 16px;
        font-size: 18px;
        color: white;
        cursor: pointer;
        margin-right: 8px;
        margin-bottom: 8px;
        transition: padding 1s;
        vertical-align: top;
      }
      #Stretch:hover {
        padding: 18px 36px;
      }
      #Shadow {
        background-color: green;
        border: none;
        padding: 8px 16px;
        font-size: 18px;
        color: white;
        cursor: pointer;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
        vertical-align: top;
      }
      #Shadow:active {
        margin-top: 3px;
        margin-left: 3px;
        box-shadow: none;
      }
      .number {
        background-color: green;
        border: none;
        padding: 8px 16px;
        font-size: 18px;
        color: white;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
        transition: padding 0.5s, margin 0.5s;
      }
      .number:hover {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 26px;
        padding-right: 26px;
      }